<<<<<<< HEAD
// Bootstrap core CSS
link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// Custom fonts for this template
link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
=======
// Bootstrap core CSS
link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// Custom fonts for this template
link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
>>>>>>> dc6f5e4785075211e9a8d0f8d80bd5a4d0d7383c
