<<<<<<< HEAD
footer.sticky-footer
  .container
    .text-center
      small Copyright © Your Website 2018
=======
footer.sticky-footer
  .container
    .text-center
      small Copyright © Your Website 2018
>>>>>>> dc6f5e4785075211e9a8d0f8d80bd5a4d0d7383c
