<<<<<<< HEAD
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fa.fa-angle-up
=======
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fa.fa-angle-up
>>>>>>> dc6f5e4785075211e9a8d0f8d80bd5a4d0d7383c
