<<<<<<< HEAD
*{padding: 0; margin: 0;}


body {
	background-color: red;
	font-family: segoe ui light;
}


.table th {
	text-align: center;

}
.table td {
	text-align: center;
	
}
.table td.khoi {
	padding-top: 100px;
	font-size: 5vh;
}
.table td.nhom {
	padding-top: 30px;
	font-size: 3vh;
=======
*{padding: 0; margin: 0;}


body {
	background-color: red;
	font-family: segoe ui light;
}


.table th {
	text-align: center;

}
.table td {
	text-align: center;
	
}
.table td.khoi {
	padding-top: 100px;
	font-size: 5vh;
}
.table td.nhom {
	padding-top: 30px;
	font-size: 3vh;
>>>>>>> dc6f5e4785075211e9a8d0f8d80bd5a4d0d7383c
}